* {
    bg-col:  #1E1D2F;
    bg-col-light: #1E1D2F;
    border-col: #1E1D2F;
    selected-col: #1E1D2F;
    blue: #7aa2f7;
    fg-col: #FFFFFF;
    fg-col2: #45F317;
    grey: #FFFFFF;
    width: 800;
}

